@model List<DesafioFCamara.Models.Product>

<div id="divProducts">

  

    <table id="tableProducts">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductDescricao</td>
                    <td>@item.ProductPrice</td>
                </tr>
            }
        }
        else
        {
            for (int i = 0; i < 4; i++)
            {
                <tr>
                    <td>Label</td>
                    <td>Label</td>
                    <td>Label</td>
                    <td>Label</td>
                </tr>
            }
        }
    </table>
</div>

