@model DesafioFCamara.Models.HomeViewModel

<div class="row">
    <div class="col-md-4">
        <p><a id="gerarToken" class="btn btn-primary btn-lg">Gerar Token</a></p>
    </div>
    <div class="col-md-4">
        <label>Token: <span id="tokenValue">@(Model.MyToken != null ? Model.MyToken.Token : "XXXXX-XXXXX-XXXXX-XXXX")</span></label>
        <label>Token expira em <span id="time">1</span> <span id="unit">minuto</span></label>
        @Html.Hidden("tokenExpirationDate")
        <label id="message"></label>
    </div>
</div>
<hr>
<div class="row">
    <div>
        <a id="buscarMVC" data-bind="click: getProductListMVC" class="btn btn-primary btn-lg">Buscar Produtos MVC</a>
        <a id="buscarAjax" data-bind="click: getProductListAjax" class="btn btn-primary btn-lg">Buscar Produtos Ajax</a>
    </div>
    <br />

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: productList">
            <tr>
                <td data-bind="text: ProductId"></td>
                <td data-bind="text: ProductName"></td>
                <td data-bind="text: ProductDescricao"></td>
                <td data-bind="text: ProductPrice"></td>
            </tr>
        </tbody>
    </table>

</div>

<script src="~/Scripts/App/Home.js"></script>
